.carousel {
	width:80%;
	height: 400px;
	margin-left: 10%;
	margin-top: 10%;
}

.slide1 {
	background: url("../img/slide.jpg") no-repeat;
	background-size: 100%;
}

.slide2, .slide3 {
	background-color: #739DA5;
}

.item {
	min-height: 400px;
	height: 100%;
	width: 100%;
}

.slide1 h2 {
  animation-delay: 1s;
  width: 70%;
  margin-top: 20%;
  background-color: #000;
  color: #fff;
}

.slide1 h3 {
  animation-delay: 2s;
  width:70%;
}

.carousel-caption h1 {	
	margin-left: -20%;
	margin-right: 50%;
	background-color: #fff;
	color: #000;	
}

.slide1 button {
  animation-delay: 3s;
  margin-left: -40%;
}


.carousel-caption button {
	border-color: #000;
	margin-top: 1em; 
	background-color: #fff;
	color: #000;
}

.carousel-caption img {
	width: 15%;
}

.code {
	margin-left: -100%;
	margin-top: 20%;
	animation-delay: 1s;
}

.read {
	margin-top: -20%;
	margin-left: 0%;
	animation-delay: 2s;
}


.draw {
	margin-top: -20%;
	margin-right: -80%;
	animation-delay: 3s;
}

ul{
	display: inline-block;
	list-style-type: none;
}

.slide3 h1 {
	margin-top: -50%;
}

.html {
	animation-delay: .5s;
	margin-right: 10%;
}

.css {
	animation-delay: 1s;
	margin-right: 10%;
}

.php {
	animation-delay: 1.5s;
	margin-right: 10%;
}

.c {
	animation-delay: 2s;
	margin-right: 10%;
}

.js {
	animation-delay: 2.5s;
	margin-right: 10%;

}

.slide3 button {
  animation-delay: 3s;
  margin-left: -90%;
  margin-top: 25%;
}





.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}